body {
  font-family: Arial, sans-serif;
  width: 21cm;
  height: 29.7cm;
  margin: auto;
  padding: 2cm;
}

h1 {
  text-align: center;
}
h2 {
  text-align: center;
}
h3 {
  text-align: center;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;
}

.total {
  text-align: right;
}